<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<link rel="apple-touch-icon" href="icones/const_517x517.png"/>
<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>

<!--  SECTION PRISE DE JQUERYMOBILE  -->
       <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js">
        </script>
        <script src="my.js">
        </script>

<!---->

<style>
progress {
  width:25em;
}

span.nom {width:12em;display:inline-block;}

span.inspPrevues, span.inspDelta {width:4em;display:inline-block;text-align: right;}

span[value^="-"] {color:red;}

</style>

<script>
function DataCtrl($scope) 
{
	console.log("je suis activites.html")
	$.ajax(
			{
				//url: 'http://10.9.36.204:8080/backapp/inspection/suivi',
				url: 'http://backplane.cloudfoundry.com/inspection/suivi',
				// isLocal: false, 
				async: false,
				dataType: 'json',
				crossDomain: true,
				success: function (i) 
				{
				$scope.stats = i;
				},
				error: function (jqXHR,textStatus,errorThrown) 
				{
					console.log("fail ",jqXHR);
					console.log("status ",textStatus);
					console.log("err ",errorThrown);
				}
	  		} // fin argument ajax
	  	);//Fin Ajax
}//Fin DataCtrl
</script>

</head>
<body>

<div class='header'><h1>Activités</h1></div>

<div ng-app ><!-- data-role="page" id="page1">-->
	<div data-role="content" ng-controller="DataCtrl">
        <ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-theme="c" ng-repeat="stat in stats">
               <a href="#page1" data-transition="slide">
                   {{stat.nom}}
               </a>
            </li>
        </ul>
    </div>
  
</div>
  <div data-theme="a" data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="bottom">
           <ul>
               <li>
                   <a href="index.html" data-theme="" data-icon="home" >
                   </a>
               </li>
               <li>
                   <a href="activites.html" data-theme="" data-icon="search" >
                   </a>
               </li>
           </ul>
        </div>
   </div>
<!--<div ng-app>-->
<!--  <div ng-controller="DataCtrl">-->
<!--    <ul class="unstyled">-->
<!--      <li ng-repeat="stat in stats">-->
<!--       <span class=nom> {{stat.nom}}</span>-->
<!--        <progress max={{stat.inspPrevues}} value={{stat.inspPrevues+stat.inspDelta}} ></progress>-->
<!--        <span class=inspPrevues> {{stat.inspPrevues}}</span>-->
<!--        <span class=inspDelta value={{stat.inspDelta}}> {{stat.inspDelta}}</span>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

</body>
</html>